#Data Types and Structures Questions

1.  What are data structures, and why are they important?
    - A data structure is a way of organizing and storing data in a computer so it can be accessed and modified efficiently. They are important because they allow us to manage large amounts of data, making programs run faster and more efficiently. For example, a contact list can be stored in an array for quick access.

2.  Explain the difference between mutable and immutable data types with examples?
    - A mutable data type can be changed after it's created. Lists, for example, are mutable. You can add, remove, or change elements in a list. An immutable data type cannot be changed once it's created. Strings and tuples are immutable; if you want to "change" a string, you actually have to create a new one.
     - Example
     
       my_list = [1, 2, 3]
       my_list.append(4)  # This modifies the original list
       print(my_list)
       
       Output: [1, 2, 3, 4]
       
       my_string = "hello"
       new_string = my_string.upper() # This creates a new string
       print(new_string)
       print(my_string)  

       Output: hello (original string is unchanged)

3.  What are the main differences between lists and tuples in Python?
    - The primary difference is mutability. Lists are mutable (changeable), while tuples are immutable (unchangeable). Lists are typically used for a collection of items that might need to change. Tuples are used for collections of items that should not change, like coordinates or dates. Tuples are also generally faster to process than lists.

4.  Describe how dictionaries store data.
    - Dictionaries store data as key-value pairs. Each unique key is associated with a specific value. The key is used to quickly retrieve the corresponding value. Keys must be immutable types, like strings or numbers, while values can be any data type.

5.  Why might you use a set instead of a list in Python?
    - A set is an unordered collection of unique elements. You would use a set instead of a list when you need to ensure that there are no duplicate items. Sets also offer very fast operations for checking if an element is a member of the set and for mathematical set operations like union and intersection.

6.  What is a string in Python, and how is it different from a list?
    - A string is an immutable sequence of characters. It's used to represent text. A list is a mutable, ordered collection of items of any data type. The main differences are that strings are immutable and only contain characters, whereas lists are mutable and can contain different data types.

7.  How do tuples ensure data integrity in Python?
    - Because tuples are immutable, their contents cannot be changed after they are created. This property ensures that the data they hold remains constant and is not accidentally altered by other parts of the program, thus preserving its data integrity.

8.  What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table (or hash map) is the underlying data structure used to implement dictionaries in Python. It uses a hash function to map keys to a specific location (or bucket) in memory, allowing for very fast average-case access, insertion, and deletion of key-value pairs.

9.  Can lists contain different data types in Python?
    - Yes, lists can contain different data types. For example, a single list can hold an integer, a string, a floating-point number, and even another list.

10. Explain why strings are immutable in Python.
    - Strings are immutable in Python because it allows for more efficient memory management and security. Since a string's value is guaranteed not to change, Python can optimize how it's stored. Immutability also makes strings useful as dictionary keys, as keys must be an immutable type.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer a significant advantage for tasks where you need to look up a value based on a key rather than an index. Dictionary lookups are extremely fast, as they don't have to iterate through the entire collection. Lists are better for ordered collections where you need to access elements by their position.

12. Describe a scenario where using a tuple would be preferable over a list.
    - A tuple would be preferable over a list for storing data that should not change. For example, if you're representing a point in a 2D space, you might use `(x, y)` coordinates. Since these coordinates should remain fixed, a tuple ensures they aren't accidentally altered. Another common use is for returning multiple values from a function.

13. How do sets handle duplicate values in Python?
    - Sets automatically discard duplicate values. When you create a set from a list that contains duplicates, the resulting set will only contain one of each unique item.

14. How does the 'in' keyword work differently for lists and dictionaries?
    - For lists, the `in` keyword checks for the presence of a value among its elements. The time it takes can depend on the size of the list. For dictionaries, the `in` keyword checks if an item is present among its keys. This is a much faster operation because of the dictionary's underlying hash table structure.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify the elements of a tuple. This is because tuples are immutable data types. Any attempt to change an element, like `my_tuple[0] = 5`, will result in a `TypeError`.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where the values are themselves other dictionaries. This structure is useful for representing hierarchical data. A common use case is storing data for a student, where each student's record is a dictionary, and the student's name is the key.

     Example:

     students = {
      'John': {'age': 25, 'city': 'New York'},
      'Alice': {'age': 22, 'city': 'London'}
     }

17. Describe the time complexity of accessing elements in a dictionary.
    - The time complexity of accessing elements in a dictionary is, on average, O(1) (constant time). This is extremely fast because the dictionary's hash table allows it to locate the item's position directly using its key, regardless of the size of the dictionary. In the worst-case scenario, due to hash collisions, it can be O(n).

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when the data has a natural order or sequence, and you need to access elements by their position (index). For example, a list of student names, a sequence of events, or a simple queue.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries were traditionally considered unordered because their keys were stored in a way that wasn't necessarily sequential. However, as of Python 3.7, dictionaries maintain insertion order. This means that the order in which items are added is the order in which they will be retrieved. This change makes dictionary behavior more predictable, although they are still fundamentally optimized for key-based lookups, not for positional access like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - With a list, you retrieve data by its index (its position). For example, `my_list[0]` gets the first item. The retrieval speed depends on the list's size. With a dictionary, you retrieve data by its key. For example, `my_dict['name']` gets the value associated with the key 'name'. This retrieval is very fast, as it doesn't depend on the number of items in the dictionary.

# Practical Questions

In [2]:
# Question 1: Write a code to create a string with your name and print it.

name = "Vaibhav Kumar Tiwari"
print(name)

Vaibhav Kumar Tiwari

In [3]:
# Question 2: Write a code to find the length of the string "Hello World".

string_two = "Hello World"
print(len(string_two))

11

In [4]:
# Question 3: Write a code to slice the first 3 characters from the string "Python Programming".

string_three = "Python Programming"
print(string_three[:3])

Pyt

In [5]:
# Question 4: Write a code to convert the string "hello" to uppercase.

string_four = "hello"
print(string_four.upper())

HELLO

In [6]:
# Question 5: Write a code to replace the word "apple" with "orange" in the string "I like apple".

string_five = "I like apple"
print(string_five.replace("apple", "orange"))

I like orange

In [7]:
# Question 6: Write a code to create a list with numbers 1 to 5 and print it.

list_six = [1, 2, 3, 4, 5]
print(list_six)

[1, 2, 3, 4, 5]

In [8]:
# Question 7: Write a code to append the number 6 to the list [1, 2, 3, 4].

list_seven = [1, 2, 3, 4]
list_seven.append(6)
print(list_seven)

[1, 2, 3, 4, 6]

In [9]:
# Question 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list_eight = [1, 2, 3, 4, 5]
list_eight.remove(3)
print(list_eight)

[1, 2, 4, 5]

In [10]:
# Question 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list_nine = ['a', 'b', 'c', 'd']
print(list_nine[1])

b

In [11]:
# Question 10: Write a code to reverse the list [10, 20, 30, 40, 50].

list_ten = [10, 20, 30, 40, 50]
list_ten.reverse()
print(list_ten)

[50, 40, 30, 20, 10]

In [12]:
# Question 11: Write a code to create a tuple with elements 100, 200, 300 and print it.

tuple_eleven = (100, 200, 300)
print(tuple_eleven)

(100, 200, 300)

In [13]:
# Question 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple_twelve = ('red', 'green', 'blue', 'yellow')
print(tuple_twelve[-2])

blue

In [14]:
# Question 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple_thirteen = (10, 20, 5, 15)
print(min(tuple_thirteen))

5

In [15]:
# Question 14: Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

tuple_fourteen = ('dog', 'cat', 'rabbit')
print(tuple_fourteen.index('cat'))

1

In [16]:
# Question 15: Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.

tuple_fifteen = ('apple', 'banana', 'cherry')
print('kiwi' in tuple_fifteen)

False

In [17]:
# Question 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set_sixteen = {'a', 'b', 'c'}
print(set_sixteen)

{'a', 'c', 'b'}

In [18]:
# Question 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set_seventeen = {1, 2, 3, 4, 5}
set_seventeen.clear()
print(set_seventeen)

set()

In [19]:
# Question 18: Write a code to remove the element 3 from the set {1, 2, 3, 4}.

set_eighteen = {1, 2, 3, 4}
set_eighteen.remove(3)
print(set_eighteen)

{1, 2, 4}

In [20]:
# Question 19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set_nineteen_a = {1, 2, 3}
set_nineteen_b = {3, 4, 5}
print(set_nineteen_a.union(set_nineteen_b))

{1, 2, 3, 4, 5}

In [21]:
# Question 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set_twenty_a = {1, 2, 3}
set_twenty_b = {2, 3, 4}
print(set_twenty_a.intersection(set_twenty_b))

{2, 3}

In [22]:
# Question 21: Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it.

dictionary_twentyone = {'name': 'John', 'age': 30, 'city': 'New York'}
print(dictionary_twentyone)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [23]:
# Question 22: Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}.

dictionary_twentytwo = {'name': 'John', 'age': 25}
dictionary_twentytwo['country'] = 'USA'
print(dictionary_twentytwo)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Question 23: Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}.

dictionary_twentythree = {'name': 'Alice', 'age': 30}
print(dictionary_twentythree['name'])

Alice

In [25]:
# Question 24: Write a code to remove the key 'city' from the dictionary {'name': 'Bob', 'age': 32, 'city': 'New York'}.

dictionary_twentyfour = {'name': 'Bob', 'age': 32, 'city': 'New York'}
del dictionary_twentyfour['city']
print(dictionary_twentyfour)

{'name': 'Bob', 'age': 32}

In [26]:
# Question 25: Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dictionary_twentyfive = {'name': 'Alice', 'city': 'Paris'}
print('city' in dictionary_twentyfive)

True

In [27]:
# Question 26: Write a code to create a list, a tuple, and a dictionary, and print them all.

list_twentysix = [1, 2, 3]
tuple_twentysix = (4, 5, 6)
dict_twentysix = {'a': 1, 'b': 2}
print("List:", list_twentysix)
print("Tuple:", tuple_twentysix)
print("Dictionary:", dict_twentysix)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [28]:
# Question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).

import random
list_twentyseven = [random.randint(1, 100) for _ in range(5)]
list_twentyseven.sort()
print(list_twentyseven)

[12, 13, 34, 57, 91]

In [29]:
# Question 28: Write a code to create a list with strings and print the element at the third index.

list_twentyeight = ["apple", "banana", "cherry", "date"]
print(list_twentyeight[2])

cherry

In [30]:
# Question 29: Write a code to combine two dictionaries into one and print the result.

dict_twentynine_a = {'a': 1, 'b': 2}
dict_twentynine_b = {'c': 3, 'd': 4}
combined_dict = {**dict_twentynine_a, **dict_twentynine_b}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Question 30: Write a code to convert a list of strings into a set.

list_thirty = ["apple", "banana", "apple", "cherry"]
set_thirty = set(list_thirty)
print(set_thirty)

{'apple', 'banana', 'cherry'}